@{
    ViewData["Title"] = "Home Page";
}

<style>
    .containerhome {
       max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff; /* Cor do conteúdo */
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>
<div class="containerhome">
    <h1>Investimento</h1>
    <p>Investimento é o ato de alocar recursos (como dinheiro) em ativos financeiros, como ações, títulos, imóveis, entre outros, com o objetivo de obter retorno financeiro no futuro.</p>
</div>
